<%# Parcial donde muestra el cliente asociado a la venta (cambiar) %>
<% unless @sale.customer.blank? %>
	<h4 class="text-primary">
		<span class="glyphicon glyphicon-user"></span> Customer #Version beta
	</h4>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Document</th>
          <th>Nombre </th>
          <th>Apellido</th>
          <th>phone</th>
          <th>cellphone</th>
          <th>birthday</th>
          <th>email</th>
          <th>estado</th>
        </tr>
      </thead>

      <tbody>
        <%= fields_for @sale do |f|%>
          <%= f.fields_for :customer, Customer.find(@sale.customer.id) do |e| %>
            <tr>
              <td><%= e.text_field :document, :class => "form-control", :readonly => true %></td>
              <td><%= e.text_field :firstname, :class => "form-control", :readonly => true %></td>
              <td><%= e.text_field :lastname, :class => "form-control", :readonly => true %></td>
              <td><%= e.text_field :phone, :class => "form-control", :readonly => true %></td>
              <td><%= e.text_field :cellphone, :class => "form-control", :readonly => true %></td>
              <td><%= e.text_field :birthday, :class => "form-control", :readonly => true %></td>
              <td><%= e.text_field :email, :class => "form-control", :readonly => true %></td>
              <td><%= e.text_field :state, :class => "form-control",:readonly => true %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>
