<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel-heading">#<span class="sale_id"><%= @sale.id %>, Created: <%= @sale.created_at.strftime("%m/%d/%y %I:%M:%S %p")  %>, Last Edited: <%= @sale.updated_at.strftime("%m/%d/%y %I:%M:%S %p")  %></span></div> 

      <!-- Nav tabs -->
      <ul class="nav nav-tabs hidden-print">
        <li class="active"><a href="#sale" data-toggle="tab">Venta</a></li>
        <li><a href="#customer" data-toggle="tab">Cliente</a></li>
        <li><a href="#comments" data-toggle="tab">Comentarios</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="sale">
          <%= render :partial => 'sales/shared/sale_tab' %>
        </div>

        <div class="tab-pane" id="customer">
          <%= render :partial => 'sales/shared/customer_info', :object => @sale %>

          <div class="added_customer">
            <%= render :partial => 'sales/shared/added_customer' %>
          </div>
        </div>

        <div class="tab-pane" id="comments">
          <%= render :partial => 'sales/shared/comments', :object => @sale %>
        </div>

        <%= render :partial => 'sales/shared/modals' %>

    </div>
  </div>
</div>
