<% content_for :title do -%>
   Registrar venta
<% end -%>

<% content_for :menus do -%>
   <li><h5 class="drop-title"><%= link_to "Abonos", "#" %></h5></li>
   <li><h5 class="drop-title"><%= link_to "Clientes", "#" %></h5></li>
<% end -%>

<div style="margin: 0px 60px;">
   <%= form_for @sale do |f| %>
   <div class="row">
      <div class="col-sm-9">
         <div class="panel panel-default">
            <div class="panel-body table">

               <%= f.fields_for :items do |item|%>
                  <div class="items_fields">

                     <div class="col-sm-6 required">
                        <%=item.label :product_id, "Producto", :class => "control-label"%>
                        <div class="input-group input-group-sm">
                           <%= collection_select(:items, :product_id, Product.activos_con_cantidad, :id, :name, {prompt: "Selecciona un cliente..."}, :class => "form-control input-sm") %>

                           <span class="input-group-btn">
                             <button id="addtotable" class="btn btn-sm btn-success input-sm"><i class="fa fa-plus"></i></button>
                           </span>
                        </div>
                     </div>

                     <div class="col-sm-6 required">
                        <%= f.label :limit_date, :class => "control-label" %><br>
                        <div class="input-group input-group-sm date">
                           <%= f.text_field :limit_date, :class => "form-control input-sm" %>
                           <span class="input-group-addon">
                              <i class="glyphicon glyphicon-th"></i>
                           </span>
                        </div>
                     </div>
                     <br><br><br>
                     <div class="col-sm-12">
                        <hr>
                     </div>
                     <div class="col-sm-12">
                        <table id="products" class="table table-bordered table-hover table-striped">
                           <thead>
                              <tr>
                                 <th>Nombre</th>
                                 <th>Precio</th>
                                 <th>Acción</th>
                              </tr>
                           </thead>
                        </table>
                     </div>

                  </div>
               <%end%>

               <div class="col-sm-12">
                  <%= f.label :comment %><br>
                  <%= f.text_area :comment, class:'form-control' %>
               </div>

            </div>
         </div>
      </div>

      <div class="col-sm-3">
         <div class="panel panel-default">
            <div class="panel-body table">

               <div id="inf_customer_start">
                  <div class="form-group required">
                     <%= f.label "Cliente", :class => "control-label" %>
                     <%= collection_select(:sale,:customer_id, Customer.all, :id, :document, {prompt: "Seleccione un cliente"}, :class => "form-control") %>
                  </div>
               </div>

               <div id="inf_customer_end" class="hidden">
                  <div class="well well-sm">
                     <label>
                        <i class="fa fa-user"></i> Nombre: 
                        <span id="info_customer_finish_name"></span>
                     </label><br>

                     <label>
                        <i class="fa fa-list-alt"></i>  Documento:
                        <span id="info_customer_finish_doc"></span>
                     </label>
                  </div>
               </div>

               <div class="form-group">
                  <%= f.label :amount %>
                  <div class="input-group input-group-sm required">
                     <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                     <%= f.text_field :amount, class:'form-control input-sm', readonly: true %>
                  </div>
               </div>

               <div class="form-group">
                  <%= f.label :discount %>
                  <div class="input-group input-group-sm required">
                     <span class="input-group-addon"><i class="fa fa-money"></i></span>
                     <%= f.text_field :discount, class:'form-control input-sm', value: '0' %>
                  </div>
               </div>

               <div class="form-group">
                  <%= f.label :total_amount %>
                  <div class="input-group input-group-sm required">
                     <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                     <%= f.text_field :total_amount, class:'form-control input-sm', readonly: true %>
                  </div>
               </div>

               <br>
               <div class="actions">
                  <%= f.submit "INGRESAR PAGO", :class => "btn btn-success btn-block bold" %>
               </div>

            </div>
         </div>
      </div>

   </div>
   <% end %>
</div>
