<div style="margin: 0px 60px;">
   <%= form_for @sale do |f| %>

   <% content_for :title do -%>
      Registrar venta
   <% end -%>

   <% content_for :menus do -%>
      <li><h5 class="drop-title"><%= link_to "Abonos", "http://cdn.memegenerator.es/imagenes/memes/full/1/62/1628946.jpg" %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Clientes", "http://cdn.memegenerator.es/imagenes/memes/full/1/62/1628946.jpg" %></h5></li>
   <% end -%>

      <div class="row">
         <div class="col-sm-8">
            <div class="panel panel-default">
               <div class="panel-body table">

                  <h5>Aca irá la tabla con los productos de la venta</h5>
                  <div class="field">

                     <%= f.label :limit_date %><br>
                     <div class="input-group input-group-sm date">
                       <%= f.text_field :limit_date, :class => "form-control input-sm" %>
                       <span class="input-group-addon">
                          <i class="glyphicon glyphicon-th"></i>
                       </span>
                     </div>

                  </div>


                  <div class="field">
                     <%= f.label :comment %><br>
                     <%= f.text_area :comment%>
                  </div>

               </div>
            </div>
         </div>

         <div class="col-sm-4">
            <div class="panel panel-default">
               <div class="panel-body table">

                 <div id="inf_customer_start">
                   <div class="field">
                     <%= f.label "Cliente", :class => "control-label"%>
                     <%= collection_select(:sale,:customer_id, Customer.all, :id, :pito, {prompt: "Seleccione un cliente"}, :class => "form-control") %>
                   </div>
                 </div>

                <div id="inf_customer_end" class="hidden">
                    <div class="field">
                      <label for="">Nombre: <span id="info_customer_finish_name"></span></label><br>
                      <label for="">Documento: <span id="info_customer_finish_doc"></span></label>
                    </div>
                </div>

                  <div class="field">
                     <%= f.label :amount %><br>
                     <%= f.text_field :amount %>
                  </div>
                  <div class="field">
                     <%= f.label :total_amount %><br>
                     <%= f.text_field :total_amount %>
                  </div>

                  <div class="field">
                     <%= f.label :discount %><br>
                     <%= f.text_field :discount %>
                  </div>
                  <br><br>
                  <div class="actions">
                     <%= f.submit "Registrar venta", :class => "btn btn-success bold" %>
                  </div>

               </div>
            </div>
         </div>

      </div>
   <% end %>
</div>
