<% content_for :title do -%>
   Registrar venta de productos
<% end -%>

<% content_for :button do -%>
  <div class="btn btn-primary bold">
    Venta N° <span class="sale_id"><%= @sale.id %></span>
  </div>
<% end -%>

<div style="margin: 0px 60px;">
  <div class="row">

    <div class="col-sm-9">
      <%= render :partial => 'sales/shared/sale_tab' %>
      <%= render :partial => 'sales/shared/modals' %>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <%# Form para asociar un cliente %>
          <div class="customer_info">
            <%= render :partial => 'sales/shared/customer_info', :object => @sale %>
          </div>

          <%# Info del cliente una vez asociado %>
          <div class="added_customer">
            <%= render :partial => 'sales/shared/added_customer' %>
          </div>

          <%# Info de el precio de la venta, descuento, etc. %>
          <div class="sale_totals hidden-print">
            <%= form_for(@sale) do |f| %>
              <%= render :partial => 'sales/shared/sale_totals', :locals=>{:f=>f} %>
            <% end %>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
