<%# Tab donde esta todo el contenido de la venta %>
<div class="panel panel-default">
  <div class="panel-body"  style="padding-bottom: 5px !important;padding-top: 10px !important;">

    <div class="row hidden-print">
      <div class="col-sm-6">
        <%= form_for :search, :format => :js, :method => "get", :remote => true do |f| %>


          <%# Input autocomplete para buscar productos %>
          <div class="form-group">
            <%= f.label :item_name, "Añadir productos", :class => "control-label" %><br>
            <%= f.text_field :item_name, :class => "form-control item_search_input awesomplete input-sm", list: 'items-list', :placeholder => "Buscar productos..." %>

            <datalist id="items-list">
              <% @available_products.each do |itm| %>
                <%= link_to "link1", "#",{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %>
                <option value=""><%= itm.id %>.| <%= itm.name %> &nbsp;&nbsp;&nbsp;Cantidad actual: <%= itm.stock %></option>
              <% end %>
            </datalist>
          </div>

          <%= f.hidden_field :sale_id, :value => @sale.id %>
          <%= submit_tag "search", :class => "btn btn-primary btn-lg item_search" %>
        <% end %>
      </div>

      <%= form_for(@sale) do |f| %>

      <% if @sale.errors.any? %>
       <div id="error_explanation" class="text-danger modal-errors">
          <ul>
             <% @sale.errors.full_messages.each do |message| %>
             <li><%= message %></li>
             <% end %>
          </ul>
        </div>
      <% end %>
      
      <%# Input fecha limite %>
      <div class="col-sm-6 required">
        <%= f.label :limit_date, :class => "control-label" %><br>
        <div class="input-group input-group-sm date datepicker">
          <%= f.text_field :limit_date, :class => "form-control input-sm", value: Time.now.strftime("%d/%m/%Y") %>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <div class="added_items">
      <%# Tabla con los productos asociados a la venta %>
      <%= render :partial => 'sales/shared/added_items', :locals=>{:f=>f} %>
    </div>

    <%= f.submit 'Update Sale', :class => "btn btn-success btn-lg sale_submit" %>
  <% end %>
  </div>
</div>

<script>
  // Crear nuevo item para la venta
  var input = $('#search_item_name')[0]
  var sale_id = parseInt($('#search_sale_id')[0].value)
  Awesomplete.$.bind(input, {
    "awesomplete-selectcomplete": function(evt) {
     $.ajax({
        type: "GET",
        url: '/sales/create_line_item',
        data: { product_id: parseInt(input.value.split(".|")[0]), quantity: 1, sale_id: sale_id},
        dataType: "script",
        success: function() {
          input.value = "";
        }
      });
    }
  });
</script>
