<%# Tabla donde se muestran todos los clientes y se puede asociar %>
<h4 class="text-primary"><span class="glyphicon glyphicon-tags"></span> Clientes</h4>
<hr />
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Documento</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Agregar a la venta</th>
      </tr>
    </thead>

    <tbody>
      <% unless @available_customers.blank? %>
        <% for customer in @available_customers %>
          <tr>
            <td><%= customer.document %></td>
            <td><%= customer.lastname %></td>
            <td><%= customer.firstname %></td>
            <td><%= customer.phone %></td>
            <td><%= customer.email %></td>
            <td class="add_to_current_sale">
              <%= link_to url_for(:controller => 'sales', :action => 'create_customer_association',
                :customer_id => customer.id, :sale_id => @sale.id), :remote => true do %>
                <p><span class="glyphicon glyphicon-plus"></span></p>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
