<%= form_tag generate_chart_output_products_path ,:class => 'navbar-form navbar-left', method: "get" do %>
  <div class="form-group">
    <%= label_tag 'Fecha inicio:', nil, class: 'form-group'%>
    <div class="input-group input-group-md date datepicker" >
         <%= text_field_tag 'search[date_from]',@search.date_from, class: "form-control" %>
         <span class="input-group-addon">
           <i class="glyphicon glyphicon-calendar"></i>
         </span>
     </div>

  </div>

  <div class="form-group">
    <%= label_tag 'Fecha fin:', nil, class: 'form-group'%>
    <div class="input-group input-group-md date datepicker">
         <%= text_field_tag 'search[date_to]',@search.date_to, class: "form-control"  %>
         <span class="input-group-addon">
           <i class="glyphicon glyphicon-calendar"></i>
         </span>
     </div>
  </div>
  <%= submit_tag 'Generar estadistica',class: 'btn btn-success bold' %>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <h4 class="bold upper" style="text-decoration:uppercase;">Salida de roductos realizada la ultima semana</h4>
    <%= line_chart OutputProduct.registered_last_week, {library: {hAxis: {title: "Fecha"}, vAxis: {title: "Cantidad"} ,discrete: true,width:'100%'}}%>
  </div>

</div>
