<%= form_for (@input_product) do |f| %>
  <% if @input_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@input_product.errors.count, "error") %> prohibited this input_product from being saved:</h2>
      <ul>
      <% @input_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <!--Se ingresa la cantidad de productos que entraran al inventario-->
      <%= f.label :stock, "Cantidad"%><br>
      <%= f.number_field :stock %>
    </div>

    <div>
      <!--Se trae la información del id del producto-->
      <%= f.label :product_id, "Identificador del producto" %><br>
      <%= f.text_field :product_id, readonly: true %>
    </div>

    <div>
      <!--Se trae la informacion del nombre del producto-->
      <%= label_tag "Producto" %><br>
      <%= text_field_tag @productx.name, @productx.name, disabled: true %>
    </div>

    <div >
      <!--Se trae la información del precio del produto-->
      <%= label_tag "Precio" %><br> 
      <%= text_field_tag @productx.price, @productx.price, disabled: true %>  <br> 
    </div>


  <div >
    <%= f.submit class: "btn btn-primary btn-lg btn-block" %>
  </div>

<% end %>
