<div class="container">

   <% content_for :title do -%>
      Entrada de productos
   <% end -%>

   <% content_for :menus do -%>
      <li><h5 class="drop-title"><%= link_to "Salida de productos", output_products_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Tipos de productos", type_products_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Categorías", categories_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Productos", products_path %></h5></li>
   <% end -%>

   <div class="panel panel-default">
      <div class="panel-body table">

         <table class="table table-bordered table-hover table-striped">
            <thead>
               <tr>
                  <th>Identificador</th>
                  <th>Cantidad</th>
                  <th>Producto</th>
                  <th>Precio</th>
               </tr>
            </thead>

            <tbody id="input_products">
            <% @input_products.each do |input_product| %>
              <tr>
                <td><%= input_product.id%></td>
                <td><%= input_product.stock %></td>
                <td><%= input_product.product.name %></td>
                <td><%= input_product.product.price %></td>
              </tr>
            <% end %>
          </tbody>
         </table>

      </div>
   </div>

</div>
