<%= form_for(@reserve_price, remote: true, :html => { :role => "form" })  do |f| %>

<div id="error_explanation" class="text-danger modal-errors"></div>

<div class="row">
  <div class="col-sm-12">

    <div class="form-group required">
      <!-- Crea una etiqueta select con los registros de la tabla asociada -->
      <%= f.label :console_id ,"Consola", :class => "control-label"%>
      <%= collection_select(:reserve_price, :console_id, Console.disponible, :id, :name, {prompt: "Seleccione una opcion"}, :class => "form-control") %>
    </div>

    <div class="form-group required">
      <%= f.label :value, "Valor", :class => "control-label" %>
      <%= f.number_field :value, :class => "form-control first_input" %>
    </div>

    <div class="form-group required">
      <%= f.label :time, "Intervalo", :class => "control-label" %>
      <%= f.number_field :time, :class => "form-control" %>
    </div>

  </div>

  <div class="col-sm-12">
    <hr style="border: 1; margin-top: 0px; ">
    <div class="form-group" style="margin-bottom: 0px;">
      <%= f.submit "Registrar", :class => "btn btn-success bold" %>
    </div>
  </div>
</div>


<% end %>
