<p id="notice"><%= notice %></p>

<h1>Listing Reserve Prices</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Time</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserve_prices.each do |reserve_price| %>
      <tr>
        <td><%= reserve_price.value %></td>
        <td><%= reserve_price.time %></td>
        <td><%= reserve_price.console_id %></td>
        <td><%= link_to 'Show', reserve_price %></td>
        <td><%= link_to 'Edit', edit_reserve_price_path(reserve_price) %></td>
        <td><%= link_to 'Destroy', reserve_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reserve price', new_reserve_price_path %>
