<%= form_for(@reserve) do |f| %>
  <% if @reserve.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserve.errors.count, "error") %> prohibited this reserve from being saved:</h2>

      <ul>
      <% @reserve.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer,"Cliente" %><br>
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :products,"Consola" %><br>
    <%= f.select(:products, options_for_select(@products.pluck(:name, :id))) %>
  </div>
  <div class="field">
    <%= f.label :date,"Fecha" %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= label_tag :interval,"Intervalo" %><br>
    <%= select_tag(:interval, options_for_select(@reserve_prices.pluck(:time, :id)), prompt: "Selecciona una opción") %>
  </div>
  <div class="field">
    <%= f.label :start_time,"Hora de incio" %><br>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time,"Hora de finalizacion" %><br>
    <%= f.text_field :end_time,readonly: true %>
  </div>
  <div class="field">
    <%= f.label :state,"Estado" %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :price_reserve_id," Precio" %><br>
    <%= f.number_field :price_reserve_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
