<tr id="reserve_<%= reserve.id %>">
  <td><%= reserve.customer %></td>
  <td><%= reserve.console.name %></td>
  <td><%= reserve.date %></td>
  <td><%= reserve.start_time.strftime("%I:%M %p") %></td>
  <td><%= reserve.end_time.strftime("%I:%M %p") %></td>
  <td><%= number_to_currency reserve.reserve_price_id %></td>

  <td width="105px">
     <% if reserve.state == "enProceso" %>
        <span class="label label-primary span-table">En Proceso</span>
     <% elsif reserve.state == "finalizada" %>
        <span class="label label-warning span-table">Finalizada</span>
     <% elsif reserve.state == "cancelada" %>
        <span class="label label-danger span-table">Cancelada</span>
     <% else %>
        <span class="label label-success span-table">Activa</span>
     <% end %>
  </td>

  <td>
    <%= link_to  edit_reserf_path(reserve), remote: true, :class => 'btn btn-sm btn-info bold' do %>
       <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Editar
    <% end %>
    <%= button_to "", { action: "cancelar", reserve_id: reserve.console_id }, method: :cancelar, data: { confirm: "Are you sure?" }, class: 'btn btn-sm btn-danger bold' do %>
       <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>

  </td>
</tr>
