<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @reserve.customer %>
</p>

<p>
  <strong>Product:</strong>
  <%= @reserve.product_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reserve.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @reserve.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @reserve.end_time %>
</p>

<p>
  <strong>State:</strong>
  <%= @reserve.state %>
</p>

<p>
  <strong>Price reserve:</strong>
  <%= @reserve.price_reserve_id %>
</p>

<%= link_to 'Edit', edit_reserf_path(@reserve) %> |
<%= link_to 'Back', reserves_path %>
