<div style="margin: 0px 60px;">

   <% content_for :title do -%>
      Consolas de baja <i class="fa fa-caret-down"></i>
   <% end -%>

   <% content_for :menus do -%>
      <li><h5 class="drop-title"><%= link_to "Consolas", consoles_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Reservas", reservation_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Precio de reserva", reserve_prices_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Reservas finalizadas", reservations_end_reservations_path %></h5></li>
   <% end %>


   <div class="panel">

      <div class="panel-body table">
         <table id="datatable" class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Serial</th>
                  <th>Estado</th>
               </tr>
            </thead>

            <tbody id="consoles">
               <%= render @dropConsole %>
            </tbody>
         </table>

      </div>
   </div>

   <%= render 'dialog' %>

</div>
