<div style="margin: 0px 60px;">

   <% content_for :title do -%>
      Gestión de consolas <i class="fa fa-caret-down"></i>
   <% end -%>

   <% content_for :menus do -%>
      <li><h5 class="drop-title"><%= link_to "Precio de reserva", reserve_prices_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Gestión de Reservas", reservations_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Reservas finalizadas", reservations_end_reservations_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Consolas en baja", drop_console_consoles_path %></h5></li>
   <% end %>

   <% content_for :button do -%>
      <%= link_to new_console_path, remote: true, class: 'btn btn-success bold' do %>
         <i class="fa fa-plus"></i>
         &nbsp;Nueva Consola
      <% end %>
   <% end -%>


   <div class="panel">

      <div class="panel-body table">
         <table id="datatable" class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Serial</th>
                  <th>Estado</th>
                  <th width="140">Acciones</th>
               </tr>
            </thead>

            <tbody id="consoles">
               <%= render @consoles %>
            </tbody>
         </table>

      </div>
   </div>

   <%= render 'dialog' %>

</div>
