<%= form_for(@type_product) do |f| %>

  <div class="ui segment">
      <div class="ui grid">
          <div class="sixteen wide column">
            <div class="ui form">
              <div class="required field">
                  <label>Nombre</label>
                  <%= f.text_field :name %>
              </div>
              <div class="required field">
                <label>Descripción</label>
                <%= f.text_area :description %>
              </div>
            </div>
          <div class="eight wide column">
            <div class="ui form">
              <div class="inline fields">
                <div class="form-actions">
                  <!--Se Valida el estado en que se encuentra el tipo producto-->
                    <% if @type_product.may_disponible?%>
                      <%= link_to "Habilitar", "/type_product/#{@type_product.id}/habilitar", method: :put %>
                    <% else %>
                      <%= link_to "Inhabilitar", "/type_product/#{@type_product.id}/inhabilitar", method: :put %>
                    <% end %>
                </div>
             </div>
            </div>
          </div>
      <div class="actions" align="right">
        <%= f.submit "Registrar", :class => 'ui positive button'%>
      </div>
    </div>
    </div>
  </div>
<% end %>

<%= link_to 'New Type product', new_type_product_path %>
