<%= form_for(@type_product) do |f| %>

	<% if @type_product.errors.any? %>
    	<div id="error_explanation">
      		<h3><%= pluralize(@type_product.errors.count, "errore") %> al intentar guardar: </h3>
            <ul>
      			<% @type_product.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      		</ul>
    	</div>
    <% end %>
		<div class="ui segment">
			<div class="ui grid">
					<div class="sixteen wide column">
						<div class="ui form">
							<div class="required field">
									<label>Nombre</label>
									<%= f.text_field :name %>
							</div>
							<div class="required field">
								<label>Descripción</label>
								<%= f.text_area :description %>
							</div>
						</div>
					</div>
					<div class="sixteen wide column" align="center">
								<div class="ui center aligned buttons alert">
									 <%= f.button 'Cancelar', :class => 'ui button' %>
									 <div class="or" data-text="O"></div>
									 <%= f.submit "Registrar", :class => 'ui positive button' %>
								</div>
						 </div>
			 </div>
			</div>
<% end %>
