<%= form_for(@type_product) do |f| %>

  <div class="form-inputs">
  	<%= f.label :name, "Nombre"%>
    <%= f.text_field :name %>
    <%= f.label :description, "Descripcion "%>
    <%= f.text_area :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
