<div class="container">

	<% content_for :title do -%>
      Tipos de productos
   <% end -%>

   <% content_for :menus do -%>
      <li><h5 class="drop-title"><%= link_to "Entrada de productos", input_products_path %></h5></li>
		<li><h5 class="drop-title"><%= link_to "Categorías", categories_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Productos", products_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Salida por baja", output_products_path %></h5></li>
   <% end -%>

	<% content_for :button do -%>
		<%= link_to new_type_product_path, remote: true, class: 'btn btn-success bold' do %>
			<i class="fa fa-plus"></i>
			&nbsp;Nuevo tipo de producto
		<% end %>
	<% end -%>

	<div class="panel panel-default">
		<div class="panel-body table">

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Descripción</th>
						<th>Estado</th>
						<th width="140">Acciones</th>
					</tr>
				</thead>

				<tbody id="type_products">
					<%= render @type_products %>
				</tbody>
			</table>

		</div>
	</div>

	<%= render 'dialog' %>

</div>
