<%= form_for(@user, remote: true, :html => { :role => "form" })  do |f| %>

	<div id="error_explanation" class="text-danger modal-errors"></div>

	<div class="row">

			<div class="col-sm-6">
				<div class="form-group required">
					<%= f.label :document, "Documento", :class => "control-label" %>
					<%= f.text_field :document, :class => "form-control first_input" %>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group required">
					<%= f.label :password, "Contraseña", :class => "control-label" %>
					<%= f.password_field :password, :class => "form-control" %>
				</div>
			</div>


			<div class="col-sm-6">
				<div class="form-group required">
					<%= f.label :firstname, "Nombre", :class => "control-label" %>
					<%= f.text_field :firstname, :class => "form-control first_input" %>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group required">
					<%= f.label :lastname, "Apellido", :class => "control-label" %>
					<%= f.text_field :lastname, :class => "form-control first_input" %>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group required">
					<%= f.label :email, "Email", :class => "control-label" %>
					<%= f.email_field :email, :class => "form-control first_input" %>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group required">
					<%= f.label :phone, "Telefono", :class => "control-label" %>
					<%= f.text_field :phone, :class => "form-control first_input" %>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group required">
					<%= f.label :cellphone, "Celular", :class => "control-label" %>
					<%= f.text_field :cellphone, :class => "form-control first_input" %>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group required">
					<!-- Crea una etiqueta select con los registros de la tabla asociada -->
					<%= f.label "Rol", :class => "control-label"%>
					<%= collection_select(:user, :role_id, Role.all, :id, :name, {prompt: "Seleccione una opción..."}, :class => "form-control") %>
				</div>
			</div>

		<div class="col-sm-12">
			<hr style="border: 1; margin-top: 0px; ">
			<div class="form-groupv" style="margin-bottom: 0px;">
				<%= f.submit "Actualizar Usuario", :class => "btn btn-success bold" %>
			</div>

			<div class="inline">
	            <% if @user.may_disponible?%>
	               <%= link_to "Habilitar", "/user/#{@user.id}/disponible", method: :put, class:'btn btn-primary bold' %>
	            <% else %>
	               <%= link_to "Inhabilitar", "/user/#{@user.id}/inhabilitar", method: :put, class:'btn btn-primary bold' %>
	            <% end %>
	         </div>
		</div>
	</div>

<% end %>
