<div class="login-body" style="margin-bottom:40px">

   <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="control">
         <%= f.label :email %>
         <%= f.email_field :email, autofocus: true, placeholder: 'Email', required: true, class:'form-control' %>
      </div>

      <div class="login-button text-center">
         <%= f.submit "ENVIAR CORREO", class:'btn btn-primary' %>
      </div>

   <% end %>
</div>
