<%= form_for(@output_product) do |f| %>
  <% if @output_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@output_product.errors.count, "error") %> prohibited this output_product from being saved:</h2>

      <ul>
      <% @output_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Cantidad_a_dar_de_baja %><br>
    <%= f.number_field :stock %>
  </div>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= collection_select(:output_product, :product_id, Product.activos_con_cantidad, :id, :name, {prompt: "Seleccione un producto..."}) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
