<p id="notice"><%= notice %></p>

<h1>Listing Output Products</h1>

<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @output_products.each do |output_product| %>
      <tr>
        <td><%= output_product.stock %></td>
        <td><%= output_product.product.name %></td>
        <td><%= link_to 'Show', output_product %></td>
        <td><%= link_to 'Edit', edit_output_product_path(output_product) %></td>
        <td><%= link_to 'Destroy', output_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Output product', new_output_product_path %>
