<div class="ui container">

  <% content_for :title do -%>
      Salida por baja
   <% end -%>

   <% content_for :menus do -%>
      <li><h5 class="drop-title"><%= link_to "Entrada de productos", input_products_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Tipos de productos", type_products_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Categorías", categories_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Productos", products_path %></h5></li>
   <% end -%>

    <div class="panel panel-default">
       <div class="panel-body table">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Identificador</th>
              <th>Cantidad de baja</th>
              <th>Producto</th>
              <th>Precio</th>
            </tr>
          </thead>

          <tbody id="output_products">
            <% @output_products.each do |output_product| %>
              <tr>
                <td><%= output_product.id%></td>
                <td><%= output_product.stock %></td>
                <td><%= output_product.product.name %></td>
                <td><%= output_product.product.price %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
       </div>
    </div>
</div>
