<p id="notice"><%= notice %></p>

<p>
  <strong>Stock:</strong>
  <%= @output_product.stock %>
</p>

<p>
  <strong>Product:</strong>
  <%= @output_product.product %>
</p>

<%= link_to 'Edit', edit_output_product_path(@output_product) %> |
<%= link_to 'Back', output_products_path %>
