<%= month_calendar events: events do |date, events| %>
  <p class="day_of_mount"><%= date.day %></p>
  <input type="text" id="tb_date_finish" value="<%= date %>" class="tb_date hidden">
  <% events.each do |event| %>
    <div class="event_description">
      <p class="events_descriptions_data"><%= event.description %></p>
      <%# event.id %>
      <span class="events_options"><%= link_to 'X', event, method: :delete, data: { confirm: 'Estas seguro?' }, style: 'float: right;' %></span>
    </div>
  <% end %>
<% end %>
