<%= form_for(@event, remote: true, :html => { :role => "form" })  do |f| %>
  <div id="error_explanation" class="text-danger modal-errors"></div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group input-md">
        <%= f.label 'Nombre' %><br>
        <%= f.text_field :name, :class => "form-control"  %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label 'Fecha' %><br>
        <%= f.datetime_select :start_time, :class => "form-control input-md" %>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group input-md">
        <%= f.label 'Evento' %><br>
        <%= f.text_field :description, :class => "form-control"  %>
      </div>
    </div>

    <div class="col-sm-12">
      <hr style="border: 1; margin-top: 0px; ">
      <div class="form-group" style="margin-bottom: 0px;">
        <%= f.submit "Registrar", :class => "btn btn-success bold" %>
      </div>
    </div>
  </div>
<% end %>
