<%= form_for(@customer, remote: true, :html => { :role => "form" })  do |f|%>

<div id="error_explanation" class="text-danger modal-errors"></div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group required">
      <%= f.label :document, "Documento" ,:class => "control-label"%><br>
      <%= f.text_field :document, :class => "form-control" %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group required">
      <%= f.label :firstname, "Nombre",:class => "control-label"%><br>
      <%= f.text_field :firstname, :class => "form-control" %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group required">
      <%= f.label :lastname, "Apellido" ,:class => "control-label"%><br>
      <%= f.text_field :lastname, :class => "form-control" %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :phone, "Teléfono" ,:class => "control-label"%><br>
      <%= f.telephone_field :phone, :class => "form-control" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :cellphone, "Celular" ,:class => "control-label"%><br>
      <%= f.telephone_field :cellphone, :class => "form-control" %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group required">
      <%= f.label :birthday, "Fecha Nacimiento",:class => "control-label"%><br>
      <%= f.text_field :birthday, :class => "datepicker" %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group required">
      <%= f.label :email, "Email" ,:class => "control-label"%><br>
      <%= f.email_field :email, :class => "form-control" %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group required">
      <%= f.label :type_document_id,"Tipo de Documento" ,:class => "control-label"%><br>
      <%= collection_select(:customer, :type_document_id, TypeDocument.all, :id, :description, {prompt: "Seleccione una opcion"})%>
    </div>
  </div>

  <div class="col-sm-12">
    <hr style="border: 1; margin-top: 0px; ">
    <div class="form-group" style="margin-bottom: 0px;">
      <%= f.submit "Editar", :class => "btn btn-success bold " %>
    </div>
  </div>

</div>
<% end %>
