<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table id="datatable">
  <thead>
    <tr>
      <th>Document</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Phone</th>
      <th>Cellphone</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>State</th>
      <th>Type document</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.document %></td>
        <td><%= customer.firstname %></td>
        <td><%= customer.lastname %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.cellphone %></td>
        <td><%= customer.birthday %></td>
        <td><%= customer.email %></td>
        <td><%= customer.state %></td>
        <td><%= customer.type_document.description %></td>
        <td>
           <%= link_to 'Show', customer %>
           <%= link_to 'Edit', edit_customer_path(customer) %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
