<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Phone</th>
      <th>Cellphone</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>State</th>
      <th>Type document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.document %></td>
        <td><%= customer.firstname %></td>
        <td><%= customer.lastname %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.cellphone %></td>
        <td><%= customer.birthday %></td>
        <td><%= customer.email %></td>
        <td><%= customer.state %></td>
        <td><%= customer.type_document %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
