<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @customer.document %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @customer.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @customer.lastname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @customer.cellphone %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @customer.birthday %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Type document:</strong>
  <%= @customer.type_document %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
