<%= form_for(@reservation, remote: true, :html => { :role => "form" })  do |f| %>

  <div id="error_explanation" class="text-danger modal-errors"></div>

  <div class="field" id="m_r_reserves">
    <%= f.label :customer,"Cliente" %><br>
    <%= f.text_field :customer , :class => "form-control"%>
  </div>

  <div class="input-group date datepicker" >
    <%= f.label :date,"Fecha" %><br>
    <%= f.text_field :date, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :interval,"Intervalo" %><br>
    <%= collection_select(:reservation,:reserve_price_id, ReservePrice.all ,:id, :time, {prompt: "Selecciona una opción"}, :class => "form-control") %>
  </div>

  <div class="field">
    <%= f.label :consoles,"Consola" %><br>
    <%= collection_select(:reserve_price,:console_id, Console.all, :id, :name, {prompt: "Selecciona una opción"}, :class => "form-control") %>
  </div>

  <div class="field">
     <%= f.label :start_time,"Hora de incio" %><br>
     <%= f.text_field :start_time ,:class => "form-control", :value => @reservation.start_time.strftime("%I:%M %p")%>
  </div>

  <div class="field">
     <%= f.label :end_time,"Hora de finalizacion" %><br>
     <%= f.text_field :end_time, :class => "form-control", :value => @reservation.end_time.strftime("%I:%M %p") %>
  </div>

  <div class="field">
     <%= f.label :price_reserve_id," Precio" %><br>
     <%= f.text_field :reserve_price_id , :class => "form-control field_prices_id hidden" %>
     <%= text_field_tag :field_prices,'',class:'form-control field_prices'  %>
  </div>


  <div class="col-sm-12">
     <hr style="border: 1; margin-top: 0px; ">
     <div class="inline" style="margin-bottom: 0px;">
        <%= f.submit "Editar Reserva", :class => "btn btn-success bold" %>
     </div>
  </div>

<% end %>
