<%= form_for(@reservation, remote: true, :html => { :role => "form" })  do |f| %>

   <div id="error_explanation" class="text-danger modal-errors"></div>

   <div class="field" id="m_r_reserves">
      <%= f.label :customer,"Cliente" %><br>
      <%= f.text_field :customer , :class => "form-control"%>
   </div>

   <%= f.label :date,"Fecha" %><br>
   <div class="input-group input-group-md date">
      <%= f.text_field :date, :class => "form-control input-md" %>
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-th"></i>
      </span>

   </div>

    <div class="field">
      <%= f.label :consoles, "Consola" %><br>
      <%= collection_select(:reservation, :console_id, Console.all, :id, :name, {prompt: "Selecciona una opción"}, {:class=>'form-control type_product_id',:onchange =>"price_console_function()"}) %>
   </div>

   <div class="field" style="display:none" attrdess="disabled_botton">
      <%= f.label :interval,"Intervalo"  %><br>
      <%= collection_select(:reservation, :reserve_price_id, ReservePrice.all ,:id, :time, {prompt: "Selecciona una opción"}, :class => "form-control") %>
   </div>

   <div class="field">
      <%= f.label :start_time,"Hora de incio" %><br>
      <%= f.time_field :start_time ,:class => "form-control"%>
   </div>

   <div class="field">
      <%= f.label :end_time,"Hora de finalizacion" %><br>
      <%= f.time_field :end_time, :class => "form-control" %>
   </div>

   <div class="field">
      <%= f.label :price_reserve_id," Precio" %><br>
      <%= f.text_field :reserve_price_id , :class => "form-control field_prices_id hidden" %>
      <%= text_field_tag :field_prices,'',class:'form-control field_prices'  %>
   </div>

   <div class="actions">
      <%= f.submit "Registrar reserva", :class => "btn btn-primary bold disabled", :id=>"Btn_RReserve"%>
   </div>
   <script type="text/javascript">
     ReloadPage('openmodal');
   </script>
<% end %>
