<div class="simple-calendar">
  <div class="panel panel-success">
      <div class="panel-heading text-center">
        <%= link_to I18n.t('simple_calendar.previous', :default => "Anterior"), calendar.url_for_previous_view, class:'no-hover' %>
        <%= I18n.t("date.month_names")[start_date.month].capitalize %>
        <%= link_to I18n.t('simple_calendar.next', :default => "Siguiente"), calendar.url_for_next_view, class:'no-hover' %>
      </div>
    <div class="panel-body">
      <table class="table table-striped table-hover table-bordered" style="margin-bottom:0px;">
        <thead>
          <tr>
            <% date_range.slice(0, 7).each do |day| %>
              <th><%= I18n.t("date.day_names")[day.wday].capitalize %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% date_range.each_slice(7) do |week| %>
            <tr>
              <% week.each do |day| %>
                <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                  <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                    <% capture_haml do %>
                      <% block.call day, sorted_events.fetch(day, []) %>
                    <% end %>
                  <% else %>
                    <% block.call day, sorted_events.fetch(day, []) %>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
