<div class="login-body">

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<!--Documento-->
		<div class="control">
			<%= f.text_field :document, required: true, placeholder: 'Documento', class: 'form-control' %>
		</div>
		<!--Contraseña-->
		<div class="control">
			<%= f.password_field :password, required: true, placeholder:'Contraseña', class:'form-control' %>
		</div>
		<!--Boton-->
		<div class="login-button text-center">
			<%= f.submit "INICIAR SESIÓN", class: 'btn btn-primary' %>
		</div>
	<% end %>
</div>

<div class="login-footer">
	<span class="text-right">
		<%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name), class:'color-white' %>
	</span>
</div>
