<div class="login-body">

<% if browser.ie?(6) %>
  <p class="disclaimer">Hemos dectectado que estas utilizando un navegador no soportado.!</p>
<% end %>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<!--Documento-->
		<div class="control">
			<%= f.text_field :document, required: true, placeholder: 'Documento', class: 'form-control' %>
		</div>
		<!--Contrase単a-->
		<div class="control">
			<%= f.password_field :password, required: true, placeholder:'Contrase単a', class:'form-control' %>
		</div>
		<!--Boton-->
		<div class="login-button text-center">
			<%= f.submit "INICIAR SESION", class: 'btn btn-primary' %>
		</div>
	<% end %>
</div>

<div class="login-footer">
	<span class="text-right">
		<%= link_to "多Olvidaste tu contrase単a?", new_password_path(resource_name), class:'color-white' %>
	</span>
</div>
