<div style="margin: 0px 60px;">


  <p id="notice"><%= notice %></p>
  <% content_for :title do -%>
  Listar pagos
  <%end -%>
  <% content_for :menus do -%>
    <p style="margin: 3px 3px 3px 23px; width:150px;">Función no disponible</p>
  <% end %>

  <% content_for :button do -%>

  <% end -%>
  <div class="panel">
    <div class="panel-body table">
      <table id="datatable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Estado</th>
            <th>Venta</th>
            <th>Total a Pagar</th>
            <th>Fecha</th>

          </tr>
        </thead>

        <tbody>
          <% @payments.each do |payment| %>
            <tr>
              <td><%= payment.amount %></td>
              <td><%= payment.sale.id %></td>
              <td><%= payment.sale.total_amount %></td>
              <td><%= payment.created_at.strftime("%F")%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
     <%= render 'dialog' %>
</div>
