<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Penalty:</strong>
  <%= @payment.penalty %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @payment.sale %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
