<%= form_for(@item_coupon) do |f| %>
  <% if @item_coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_coupon.errors.count, "error") %> prohibited this item_coupon from being saved:</h2>

      <ul>
      <% @item_coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sale_id %><br>
    <%= f.text_field :sale_id %>
  </div>
  <div class="field">
    <%= f.label :coupon_id %><br>
    <%= f.text_field :coupon_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
