<tr id="category_<%= category.id %>">
	<td><%= category.name %></td>
	<td><%= category.description %></td>
	<td><%= category.state %></td>
  	<td>
    	<%= link_to 'Editar', edit_category_path(category), remote: true, :class => 'btn btn-sm btn-info' %>
  	</td>
	</tr>