<%= form_for(@category, remote: true, :html => { :role => "form" })  do |f| %>

	<div id="error_explanation" class="text-danger modal-errors"></div>

	<div class="row">
		<div class="col-sm-12">

			<div class="form-group required">
				<%= f.label :name, "Nombre", :class => "control-label" %>
				<%= f.text_field :name, :class => "form-control first_input" %>
			</div>

			<div class="form-group required">
				<%= f.label :description, "Descripción", :class => "control-label" %>
				<%= f.text_area :description, :class => "form-control" %>
			</div>

				<hr style="border: 1; margin-top: 0px; margin-bottom:15px !important;">
				<label>Cambios:</label>
				<br>


			<section class="switch">
				<%= f.check_box :can_change, class: 'switch', id: 'checkbox1' %>
				<label class="switch" for="checkbox1"></label>
				<p class="switch">¿Se puede cambiar?</p>
			</section>
		</div>

		<div class="col-sm-12">
			<hr style="border: 1; margin-top: 0px; ">
			<div class="inline" style="margin-bottom: 0px;">
				<%= f.submit "Editar Categoría", :class => "btn btn-success bold" %>
			</div>

			<div class="inline">
				<% if @category.may_disponible?%>
					<%= link_to "Habilitar", "/category/#{@category.id}/habilitar", method: :put, class: 'btn btn-primary bold' %>
				<% else %>
				  <%= link_to "Inhabilitar", "/category/#{@category.id}/inhabilitar", method: :put, class: 'btn btn-primary bold' %>
				<% end %>
			</div>
      </div>
	</div>


<% end %>
