<%= form_for(@type_product) do |f| %>


  <div class="form-inputs">
    <%= f.text_field :name %>
    <%= f.text_field :description %>
    <%= f.text_field :state %>
  </div>

  <div class="form-actions">
    <%= f.submit "Editar" %>
    <%= link_to %>
  </div>
<% end %>

<%= link_to 'New Category', new_category_path %>