<%= form_for(@category) do |f| %>


  <div class="form-inputs">
  	<%= f.label :name ,"Nombre" %>
    <%= f.text_field :name %>
    <%= f.label :description, "Descripcion"%>
    <%= f.text_field :description %>
    <%= f.label :state,"Estado"%>
    <%= f.text_field :state %>
  </div>

  <div class="form-actions">
    <%= f.submit "Editar" %>
    <!--Revisaremos si la categoria esta dispinible-->
    <% if @category.may_disponible?%>
    	<!--Si esta en no disponible tendremos la opcion de habilitarla-->
    	<%= link_to "Habilitar", "/category/#{@category.id}/habilitar", method: :put %>
    <% else %>
    	<!--Si esta disponible tendremos la opcion de inhabilitarla-->
    	<%= link_to "Inhabilitar", "/category/#{@category.id}/inhabilitar", method: :put %>
    <% end %>
  </div>
<% end %>

<%= link_to 'New Category', new_category_path %>