<%= form_for(@category, remote: true, :html => { :role => "form" })  do |f| %>

	<div id="error_explanation" class="text-danger modal-errors"></div>

	<div class="row">
		<div class="col-sm-12">

			<div class="form-group required">
				<%= f.label :name, "Nombre", :class => "control-label" %>
				<%= f.text_field :name, :class => "form-control first_input" %>
			</div>

			<div class="form-group required">
				<%= f.label :description, "Descripción", :class => "control-label" %>
				<%= f.text_area :description, :class => "form-control" %>
			</div>

				<hr style="border: 1; margin-top: 0px; margin-bottom:15px !important;">
				<label>Cambios:</label>
				<br>


			<section class="switch">
				<%= f.check_box :can_change, class: 'switch', id: 'checkbox1' %>
				<label class="switch" for="checkbox1"></label>
				<p class="switch">¿Se puede cambiar?</p>
			</section>
		</div>

		<div class="col-sm-12">
			<hr style="border: 1; margin-top: 0px; ">
			<div class="inline" style="margin-bottom: 0px;">
				<%= f.submit "Editar Categotria", :class => "btn btn-success bold" %>
			</div>
			<input type="hidden" id="category__id" value="<%="#{@category.id}"%>">
			<div class="inline">
				<% if @category.may_disponible?%>
					<%= link_to "Habilitar", "/category/#{@category.id}/habilitar", method: :put, class: 'btn btn-primary bold' %>
				<% else %>
					<div class= "btn btn-primary bold class_inhabilitar" >Inhabilitar</div>
				  <%# link_to "Inhabilitar", "", class: 'btn btn-primary bold class_inhabilitar' %>
				<% end %>
			</div>
      </div>
	</div>


<% end %>

<script>

$('.class_inhabilitar').click(function(){
	var id_val = $('#category__id').val();
	var resp = 0;
  $.confirm({
      confirmButton: 'Sí',
      cancelButton: 'No',
      title: 'Confirmación',
      content: 'Al cambiar el estado todos los productos tambie cambiaran, y su stock se volvera 0, ¿esta seguro?',
      confirm: function(){
        //Cambiar a estado "enProceso"
        resp = 1;
        ajax_alert_category(resp, id_val);
        ajax_change_state_product(resp, id_val);
      },
      cancel: function(){
        ajax_alert_category(resp, id_val);
        ajax_change_state_product(resp, id_val);
      }
  });

});


function ajax_change_state_product(resp, id){
    respuesta = resp;
    identify = id;
    $.ajax({
      url:'/products/change_state',
      data:{answer: respuesta, id: identify},
      type: 'get',
			datatype: 'json'
    }).done(function(done){

    }).error(function(error){
      console.log('Ha ocurrido un error '+ error);
    });
  }


function ajax_alert_category(resp, id){
    answer = resp;
    identify = id;
    $.ajax({
      url:'/category/'+identify+'/inhabilitar',
      data:{answer: answer, id: identify},
      type: 'put'
    }).done(function(done){

    }).error(function(error){
      console.log('Ha ocurrido un error '+ error);
    });

  }




</script>
