<%= form_for (@category)  do |f| %>

	<% if @category.errors.any? %>
    	<div id="error_explanation">
      		<h3><%= pluralize(@category.errors.count, "errore") %> al intentar guardar: </h3>
            <ul>
      			<% @category.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      		</ul>
    	</div>
    <% end %>

	<div class="form-inputs">
		<%= f.label :name, "Nombre"%>
		<%= f.text_field :name %>
		<br>
		<%= f.label :description, "Descripcion" %>
		<%= f.text_area :description %>

		<!--El metodo collection_select crea una etiqueta select con los registros de la tabla asociada-->
		<%= f.label "Tipo de Producto"%>
		<%= collection_select(:category,:type_product_id, TypeProduct.all, :id, :name, {prompt: "Seleccione una opcion"}) %>
	</div>

	<div class="form-actions">
		<%= f.submit "Registrar" %>
	</div>
<% end %>
