<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <label>Tipo de producto: </label>
    <select name="category[type_products_id]">
    	<!--Recorreremos los datos de la tabla TypeProducts-->
    	<% @type_products.each do | type_product| %>
    		<option value="<%= type_product.id %>" id="<%= type_product.id %>"><%= type_product.name %></option>
    	<%end%>
    </select>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
