<div style="margin: 0px 60px;">

   <% content_for :title do -%>
      Gestion de Categorías <i class="fa fa-caret-down"></i>
   <% end -%>

   <% content_for :menus do -%>
      <li><h5 class="drop-title"><%= link_to "Tipos de productos", type_products_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Entrada de productos", input_products_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "gestion de Productos", products_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Salida por baja", output_products_path %></h5></li>
   <% end -%>

   <% content_for :button do -%>
      <%= link_to new_category_path, remote: true, class: 'btn btn-success bold' do %>
         <i class="fa fa-plus"></i>
         &nbsp;Nueva Categoría
      <% end %>
   <% end -%>


   <div class="panel">

      <div class="panel-body table">
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Tipo de Producto</th>
                  <th>Estado</th>
                  <th width="140">Acciones</th>
               </tr>
            </thead>

            <tbody id="categories">
               <%= render @categories %>
            </tbody>
         </table>

      </div>
   </div>

   <%= render 'dialog' %>

</div>
