<div class="ui container">
  <div class="ui segment">
    <%= link_to new_category_path, class: 'ui right floated green button' do %>
      <i class="add circle icon"></i>
      Nueva Categoría.
    <% end %>
    <br><br>
    <table class="ui green compact celled unstackable striped table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>State</th>
          <th width="250">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td><%= category.state %></td>
            <td><%= link_to category, class: 'tiny ui yellow button' do%>
              <i class="unhide icon"></i>
              Detalles
            <% end %>

            <%= link_to edit_category_path(category), class: 'tiny  ui blue button' do %>
              <i class="edit icon"></i>
              Editar
            <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @categories %>
  </div>
</div>
