<%= form_for(@product) do |f| %>

	<% if @product.errors.any? %>
    	<div id="error_explanation">
      		<h3><%= pluralize(@product.errors.count, "errore") %> al intentar guardar: </h3>
            <ul>
      			<% @product.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      		</ul>
    	</div>
    <% end %>

  <div class="form-inputs">
    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <%= f.text_field :price %>
  </div>

  <div class="form-actions">
    <%= f.submit "Registrar" %>
  </div>
<% end %>
