<%=form_for(@product) do |f| %>

  <div class="form-inputs">
    <%= f.label :name, "Nombre"%>    
    <%= f.text_field :name %>

    <%= f.label :name, "Descripción"%>
    <%= f.text_area :description %>

    <%= f.label :price, "Precio"%>    
    <%= f.number_field :price %>

    <%= f.label :stock_min, "Cantidad Minima"%>
    <%= f.number_field :stock_min%>
  </div>

  <div class="form-actions">
  
    <%= f.button :submit %>
    <!--Revisaremos si el producto esta dispinible-->
    <% if @product.may_disponible?%>

      <!--Si esta en no disponible tendremos la opcion de habilitarlo-->
      <%= link_to "Habilitar", "/product/#{@product.id}/habilitar", method: :put %>
    <% else %>

      <!--Si esta disponible tendremos la opcion de inhabilitarlo-->
      <%= link_to "Inhabilitar", "/product/#{@product.id}/inhabilitar", method: :put %>
    <% end %>
  </div>

<% end %>
