<%= form_for(@product) do |f| %>

	<% if @product.errors.any? %>
    	<div id="error_explanation">
      		<h3><%= pluralize(@product.errors.count, "errore") %> al intentar guardar: </h3>
            <ul>
      			<% @product.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      		</ul>
    	</div>
    <% end %>

  <div class="form-inputs">
    <%= f.label :name, "Nombre"%>    
    <%= f.text_field :name %>

    <%= f.label :name, "Descripción"%>
    <%= f.text_area :description %>

    <%= f.label :price, "Precio"%>    
    <%= f.number_field :price %>

    <%= f.label :stock_min, "Cantidad Minima"%>
    <%= f.number_field :stock_min%>

    <%= f.label :type_product, "Tipo de producto"%>
    <%= collection_select(:category, :type_product_id, TypeProduct.all, :id, :name, {prompt: "Seleccione una opcion"}) %>
    
    <%= f.label :category_id, "Categoria" %>
    <%= collection_select(:product, :category_id, Category.all, :id, :name, {prompt: "Seleccione una opcion de categoria"}) %>
  </div>

  <div class="form-actions">
    <%= f.submit "Registrar" %>
  </div>
<% end %>
