<%= form_for(@product, remote: true, :html => { :role => "form"})  do |f| %>

   <div id="error_explanation" class="text-danger modal-errors"></div>

   <div class="row">
      <div class="col-sm-12">

         <div class="form-group required">
            <%= f.label :name, "Nombre", :class => "control-label" %>
            <%= f.text_field :name, :class => "form-control first_input" %>
         </div>

         <div class="form-group required">
            <%= f.label :description, "Descripción", :class => "control-label" %>
            <%= f.text_area :description, :class => "form-control" %>
         </div>
      </div>

      <div class="col-sm-6">
         <div class="form-group required">
            <%= f.label :price, "Precio", :class => "control-label" %>
            <div class="input-group">
               <span class="input-group-addon">$</span>
               <%= f.number_field :price, :class => "form-control" %>
            </div>
         </div>
      </div>

      <div class="col-sm-6">
         <div class="form-group required">
            <%= f.label :stock_min, "Cantidad mínima", :class => "control-label" %>
            <%= f.number_field :stock_min, :class => "form-control" %>
         </div>
      </div>

      <div class="col-sm-6">
         <div class="form-group required">
            <%= f.label :type_product, "Tipo de producto", :class => "control-label" %>
            <%= collection_select(:category, :type_product_id, TypeProduct.with_category.order(name: :asc).distinct, :id, :name, {prompt: "Seleccione un tipo"}, {:class=>'form-control type_product_id'}) %>
         </div>
      </div>

      <div class="col-sm-6">
         <div class="form-group required" style="display:none" attrdess="disabled_botton">
            <%= f.label :category_id, "Categoría" %>
            <%= f.select(:category_id, "",{prompt: "Seleccione una categoría"}, {:class=>'form-control category_id'}) %>
         </div>
      </div>

      <div class="col-sm-6">
         <div class="form-group">
            <hr style="border: 1; margin-top: 0px; margin-bottom:15px !important;">
            <label>Cambios:</label>
            <br>

            <section class="switch">
               <%= f.check_box :can_change, class: 'switch', id: 'checkbox1' %>
               <label class="switch" for="checkbox1"></label>
               <p class="switch">¿Se puede cambiar?</p>
            </section>
         </div>
      </div>


      <div class="col-sm-12">
         <hr style="border: 1; margin-top: 0px; ">
         <div class="form-group" style="margin-bottom: 0px;">
            <%= f.submit "Registrar", :class => "btn btn-primary bold disabled", :id => "Btn_RProduct" %>
         </div>
      </div>
   </div>

<% end %>
