<tr id="product_<%= product.id %>">
   <td><%= product.name %></td>
   <td><%= product.description %></td>
   <td><%= product.category.name %></td>
   <td width="10px"><%= product.stock_min %></td>
   <td width="10px" class="<%= product.stock <= product.stock_min ? 'text-danger bold': '' %>"><%= product.stock %></td>
   <td><%= number_to_currency product.price %></td>

   <td width="105px">
      <% if product.state == "noDisponible" %>
         <span class="label label-primary span-table">No disponible</span>
      <% else %>
         <span class="label label-success span-table"> Disponible </span>
      <% end %>
   </td>

   <td width="160px">
      <%= link_to edit_product_path(product), remote: true, :class => 'btn btn-sm btn-info bold' do %>
         <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Editar
      <% end %>

      <span class="has-tooltip" data-toggle="tooltip" title="Entrada de productos">
      <%= link_to new_input_product_path(product_id: product.id), class: 'btn btn-sm btn-primary bold' do %>
      	<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
      <% end %>
      </span>

      <span class="has-tooltip" data-toggle="tooltip" title="Salida de productos">
      <%= link_to new_output_product_path(product_id: product.id), class: 'btn btn-sm btn-primary bold' do %>
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      <% end %>
      </span>

   </td>
</tr>
