<div class="ui container">
  <div class="ui segment">
    <%= link_to new_product_path, class: 'ui right floated green button' do %>  
      <i class="add circle icon"></i>
      Nuevo Producto
    <% end %>
    <br><br>  
    <table class="ui green compact celled unstackable striped table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>State</th>
          <th width="250">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td><%= product.state %></td>
            <td><%= link_to product, class: 'ui olive button' do%>
              <i class="unhide icon"></i>
              Detalles
            <% end %>
            
            <%= link_to edit_product_path(product), class: 'ui blue button' do %>
              <i class="edit icon"></i>
              Editar
            <% end %></td>
            <!--Se le envia el id del producto a "input_product/new"-->
            <td><%= link_to 'entrada',new_input_product_path(product_id: product.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  
  </div>
</div>

