<!DOCTYPE html>
<html>
<head>
	<title>Iniciar Sesión | SoftKOI</title>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body class="flat-blue login-page">

	<div id="notice_wrapper">
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% elsif alert %>
			<p class="alert"><%= alert %></p>
		<% end %>
	</div>
	<div class="container">
		<div class="login-box">
			<div>
				<div class="login-form row">
					<div class="col-sm-12 text-center login-header">
						<%= image_tag('white_logo.png', size: '200x200') %>
					</div>

					<div class="col-sm-12">
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
