<!DOCTYPE html>
<html>
<head>
	<title>Iniciar Sesión | SoftKOI</title>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body class="flat-blue login-page">

	<div id="notice_wrapper">
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% elsif alert %>
			<p class="alert"><%= alert %></p>
		<% end %>
	</div>

	<%= yield %>
</body>
</html>
