<%= simple_form_for @sale do |f| %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.input_field :amount, as: :decimal %>
  </div>
  <div class="field">
    <%= f.label :total_amount %><br>
    <%= f.input_field :total_amount, as: :decimal %>
  </div>

  <div class="field">
    <%= f.label :discount %><br>
    <%= f.input_field :discount, as: :decimal %>
  </div>

  <div class="field">
    <%= f.label :limit_date %><br>
    <%= f.input_field :limit_date,as: :date , wrapper_html: {class:  'datapicker'} %>

  </div>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.input_field :comment, as: :text %>
  </div>
  <div class="field">

    <%= f.input :customer, :as => :autocomplete, :source_query => autocomplete_customer_firstname_customers_url %>
  </div>
  <div class="actions">
    <%= f.button  :submit%>
  </div>

<% end %>
