<div style="margin: 0px 60px;">

   <% content_for :title do -%>
      Gestión de ventas <i class="fa fa-caret-down"></i>
   <% end -%>

   <% content_for :menus do -%>
      <li><h5 class="drop-title"><%= link_to "Abonos", "#" %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Clientes", customers_path %></h5></li>
   <% end -%>

   <% content_for :button do -%>
      <%= link_to new_sale_path, class: 'btn btn-success bold', 'data-turbolinks' => false  do %>
         <i class="fa fa-plus"></i>
         &nbsp;Nueva venta
      <% end %>
   <% end -%>

   <div class="panel panel-default">
      <div class="panel-body table">

         <table id="datatable" class="table table-bordered table-hover table-striped">
            <thead>
               <tr>
                  <th>Fecha creación</th>
                  <th>Cliente</th>
                  <th>Monto</th>
                  <th>Descuento</th>
                  <th>Monto total</th>
                  <th>Fecha límite</th>
                  <th>Estado</th>
                  <th>Acción</th>
               </tr>
            </thead>

            <tbody>
               <% @sales.each do |sale| %>
                 <tr>
                    <td><%= sale.created_at.strftime("%d/%m/%Y") %></td>
                    <td><%= sale.customer.blank? ? ' - ' : sale.customer.name %></td>
                    <td><%= number_to_currency sale.amount %></td>
                    <td><%= number_to_currency sale.get_discounted_amount %></td>
                    <td><%= number_to_currency sale.total_amount %></td>
                    <td><%= sale.limit_date.strftime("%d/%m/%Y") %></td>

                    <td width="100px">
                       <% if sale.state == "sinpagar" %>
                          <span class="label label-danger span-table">Pendiente</span>
                       <% else %>
                          <span class="label label-success span-table">Cancelada</span>
                       <% end %>
                    </td>

                    <td>
                       <%= link_to sale, class:'btn btn-primary bold btn-sm' do %>
                       <i class="fa fa-search"></i>&nbsp; Detalles
                       <% end %>
                       <div class="btn btn-success bold btn-sm btn_payments" data-amount-saleid="<%= sale.id %>" data-toggle="modal" data-target="#make_payment_index">
                         INGRESAR PAGO
                       </div>
                    </td>
                 </tr>
               <% end %>
            </tbody>
         </table>
      </div>
   </div>
</div>

<div class="modal fade" id="make_payment_index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Realizar pago</h4>
      </div>
      <div class="modal-body" style="padding-top:0px !important;">
        <%= render :partial => 'sales/make_payment_index', :object => @sale %>
      </div>
    </div>
  </div>
</div>
