<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @sale.state %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @sale.final_date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
