<% content_for :title do -%>
   Detalle de venta <i class="fa fa-caret-down"></i>
<% end -%>

<% content_for :menus do -%>
   <li><h5 class="drop-title"><%= link_to "Gestión de ventas", "#" %></h5></li>
<% end -%>

<% content_for :button do -%>
   <%= link_to @sale, class: 'btn btn-primary bold' do %>
      &nbsp;<strong>Venta N° <%= @sale.id %></strong>
   <% end %>
<% end -%>

<div style="margin: 0px 60px;">
   <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-6">
          <h4 class="bold">Información de la venta</h4>
          <hr style="border: 1; margin-top: 0px; ">

          <p>
            <strong style="vertical-align: text-top;">Estado:</strong>
            <label class="label label-success bold" style="vertical-align:initial !important;">
              <% if @sale.state == "pago" %>
                Cancelada
              <% else %>
                En deuda
              <% end %>
            </label>
          </p>

          <p>
            <strong>Monto:</strong>
            <%= number_to_currency @sale.amount %>
          </p>

          <p>
            <strong>Descuento:</strong>
            <%= number_to_currency @sale.discount %>
          </p>

          <p>
            <strong>Monto total:</strong>
            <%= number_to_currency @sale.total_amount %>
          </p>


          <p>
            <strong>Fecha límite</strong>
            <%= @sale.limit_date %>
          </p>

          <p>
            <strong>Usuario:</strong>
            <%= @sale.user.name %>
          </p>

          <p>
            <% if @sale.comment.nil? %>
              <strong>Comentario:</strong>
              No se ha ingresado un comentario.
            <% else %>
              <strong>Comentario:</strong>
              <%= @sale.comment  %>
            <% end %>
          </p>

          <p>
            <strong>Cliente:</strong>
            <%= @sale.customer.name %>
          </p>
          <br>
          <%= link_to sales_path, class:'btn btn-info btn-sm bold' do %>
             <i class="fa fa-arrow-left"></i> &nbsp; Volver
          <% end %>
        </div>

        <div class="col-sm-6">
          <h4 class="bold">Productos adquiridos</h4>
          <hr style="border: 1; margin-top: 0px; ">

          <table class="table table-bordered table-hover table-striper">
            <thead>
              <tr>
                <th>Nombre del producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Precio total</th>
              </tr>
            </thead>
            <tbody>
              <% @sale_items.each do |sale_items| %>
                <tr>
                  <td><%= sale_items.product.name %></td>
                  <td><%= sale_items.quantity %></td>
                  <td><%= number_to_currency sale_items.price %></td>
                  <td><%= number_to_currency sale_items.total_price %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
   </div>
</div>
