<div style="margin: 0px 60px;">
  <% content_for :title do -%>
      Estadisticas <i class="fa fa-caret-down"></i>
   <% end -%>
   <% content_for :menus do -%>
     <li><h5 class="drop-title"><%= link_to "Reportes", reports_path %></h5></li>
   <% end -%>

  <div class="panel panel-default">
    <div class="panel-body">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs hidden-print">
        <li class="active"><a href="#products" data-toggle="tab">Productos</a></li>
        <li><a href="#output_products" data-toggle="tab">Salida de productos</a></li>
        <li><a href="#input_products" data-toggle="tab">Entrada de productos</a></li>
        <li><a href="#sales" data-toggle="tab">Ventas</a></li>
        <li><a href="#reservations" data-toggle="tab">Reservas</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="products">
          <%= render :partial => 'reports/shared/chart_products' %>
        </div>

        <div class="tab-pane" id="output_products">
          <%= render :partial => 'reports/shared/chart_output_products' %>
        </div>

        <div class="tab-pane" id="input_products">
          <%= render :partial => 'reports/shared/chart_input_products' %>
        </div>

        <div class="tab-pane" id="sales">
          <%= render :partial => 'reports/shared/chart_sales' %>
        </div>

        <div class="tab-pane" id="reservations">
          <%= render :partial => 'reports/shared/chart_reservations' %>
        </div>

      </div>
    </div>
  </div>
</div>
