<!DOCTYPE html>
<html>
<head>
	<title>SoftKOI App</title>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>

	<div id="notice_wrapper2" class="noticias">
		<p class="notice"></p>
	</div>

	<div id="notice_wrapper">
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% elsif alert %>
			<p class="alert"><%= alert %></p>
		<% end %>
	</div>

	<header>
		<!-- Barra superior -->
		<div class="menusuperior normal">
			<!-- Menu hamburguesa -->
			<div class="controlmenu">
				<div class="icon">
					<button id="iconmenu" type="button" aria-label="toggle menu" class="tcon tcon-menu--xcross">
						<span aria-hidden="true" class="tcon-menu__lines"></span>
						<span class="tcon-visuallyhidden">Menu expandible</span>
					</button>
				</div>
			</div>

			<!-- Centro de la barra superior -->
			<div class="centro">
				<!-- Espacio para futuros logos o assets -->
			</div>

			<!-- Notificaciones y boton de perfil -->
			<div  class="alerts">
				<div class="imgsize">
					<a class="ALETCalendario"href="#"><%= image_tag("calendar.svg") %></a>
				</div>

				<div class="imgsize">
					<a class="ALETMensajes" href="#"><%= image_tag("message.svg") %></a>
				</div>

				<div>
					<a class="ALETNotificacion"href="#"><%= image_tag("notifications.svg", class: 'last') %></a>
				</div>
				<a href="modulos/perfil.html" class="btn ui button">Perfil</a>
			</div>
		</div>
	</header>

	<%= render "partials/lateral" %>

	<div class="container1 normal">
		<div style="margin: 0px 60px;">
			<div class="panel panel-default" style="margin-top: 10px;">
				<div class="panel-body">

					<div class="btn-group inline pd">
						<h3  class="dropdown-toggle title-upper bold" data-toggle="dropdown" aria-expanded="false">
							<%= yield :title %>
						</h3>

						<ul class="dropdown-menu">
							<%= yield :menus %>
						</ul>

					</div>

					<div class="inline pull-right">
						<%= yield :button %>
					</div>

				</div>
			</div>
		</div>

		<%= yield %>
	</div>
	<%= javascript_tag "transformicons.add('.tcon')" %>

</body>
</html>
