<!DOCTYPE html>
<html>
<head>
	<title>SoftKOI App</title>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= Gon::Base.render_data({}) %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<div class="container-console hidden">
		<div class="row" >
			<span onclick="">X</span>
		</div>
		<form class="four-oh-four-form">
			<input type="text" class="404-input">
		</form>
		<div class="terminal">
				<p class="prompt">Adminitrador@SoftKOI:-$ </p>
				<p class="prompt output new-output click"></p>
		</div>
	</div>

	<% unless flash.empty? %>
		<script type="text/javascript">
			<% flash.each do |f| %>
			<% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
			toastr['<%= type %>']('<%= f[1] %>');
			<% end %>
		</script>
	<% end %>

	<div id="notice_wrapper2" class="noticias alerts_notice">
		<p class="notice"></p>
	</div>


	<header>
		<!-- Barra superior -->
		<div class="menusuperior normal">
			<!-- Menu hamburguesa -->
			<div class="controlmenu">
				<div class="icon">
					<button id="iconmenu" type="button" aria-label="toggle menu" class="tcon tcon-menu--xcross">
						<span aria-hidden="true" class="tcon-menu__lines"></span>
						<span class="tcon-visuallyhidden">Menu expandible</span>
					</button>
				</div>
			</div>

			<!-- Centro de la barra superior -->
			<div class="centro">
			</div>

			<!-- Notificaciones y boton de perfil -->
			<div  class="alerts">
				<span class="has-tooltip" data-toggle="tooltip"  data-placement="bottom" title="Nueva venta">
					<div class="imgsize">
							<%= link_to new_sale_path, class: "ALETMensajes", 'data-turbolinks' => false do %>
								<%= image_tag("tag.svg") %>
							<% end %>
					</div>
			  </span>
				<%if current_user.role.name == "Administrador" %>
					<div class="imgsize" class="has-tooltip" data-toggle="tooltip"  data-placement="bottom" title="Ayuda">
						<a class="ALETCalendario"href="ManualdeUsuarioSOFTKOI.pdf" ><%= image_tag("question-mark.svg") %></a>
					</div>
						<li class="nav-item btn-group" data-behavior="notifications">
							<a class="dropdown-toggle nav-link last"href="#" type="button" data-behavior="notifications-link" id="DropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
								<%= image_tag("notifications.svg") %>
								<span class="notifications notifi" data-behavior="unread-count"></span>
							</a>
							<div class="dropdown-menu d-m" aria-labelledby="DropdownMenu1" data-behavior="notifications-items"></div>
						</li>
				<%end%>

				<%= link_to  "Perfil", edit_user_path(current_user), class:'btn ui button' %>
			</div>
		</div>
	</header>

	<%= render "partials/lateral" %>

	<div class="container1 normal">
		<div style="margin: 0px 60px;">
			<div class="panel panel-default" style="margin-top: 10px;">
				<div class="panel-body">

					<div class="btn-group inline pd">
						<h3  class="dropdown-toggle title-upper bold" data-toggle="dropdown" aria-expanded="false">
							<%= yield :title %>
						</h3>

						<ul class="dropdown-menu">
							<%= yield :menus %>
						</ul>

					</div>

					<div class="inline pull-right">
						<%= yield :button %>
					</div>

				</div>
			</div>
		</div>

		<%= yield %>

	</div>
	<%= javascript_tag "transformicons.add('.tcon')" %>

</body>
</html>
