<!DOCTYPE html>
<html>
<head>
	<title>SoftKOI App</title>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>

	<div id="notice_wrapper">
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% elsif alert %>
			<p class="alert"><%= alert %></p>
		<% end %>
	</div>

	<header>
		<!-- Barra superior -->
		<div class="menusuperior normal">
			<!-- Menu hamburguesa -->
			<div class="controlmenu">
				<div class="icon">
					<button id="iconmenu" type="button" aria-label="toggle menu" class="tcon tcon-menu--xcross">
						<span aria-hidden="true" class="tcon-menu__lines"></span>
						<span class="tcon-visuallyhidden">Menu expandible</span>
					</button>
				</div>
			</div>

			<!-- Centro de la barra superior -->
			<div class="centro">
				<!-- Espacio para futuros logos o assets -->
			</div>

			<!-- Notificaciones y boton de perfil -->
			<div  class="alerts">
				<div class="imgsize">
					<a class="ALETCalendario"href="#"><%= image_tag("calendar.svg") %></a>
				</div>

				<div>
					<a class="ALETNotificacion"href="#"><%= image_tag("notifications.svg", class: 'last') %></a>
				</div>
				<%= link_to  "Perfil", edit_user_path(current_user), class:'btn ui button' %>

			</div>
		</div>
	</header>

	<%= render "partials/lateral" %>

	<div class="container1 normal">
		<div class="container">
			<%= yield %>
		</div>
	</div>

	<%= javascript_tag "transformicons.add('.tcon')" %>

</body>
</html>
