<!DOCTYPE html>
<html>
<head>
	<title>SoftKOI App</title>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<div class="container-console hidden">
		<div class="row" >
			<span onclick="">X</span>
		</div>
		<form class="four-oh-four-form">
			<input type="text" class="404-input">
		</form>
		<div class="terminal">
				<p class="prompt">Adminitrador@SoftKOI:-$ </p>
				<p class="prompt output new-output click"></p>
		</div>
	</div>

	<% unless flash.empty? %>
		<script type="text/javascript">
			<% flash.each do |f| %>
			<% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
			toastr['<%= type %>']('<%= f[1] %>');
			<% end %>
		</script>
	<% end %>

	<header>
		<!-- Barra superior -->
		<div class="menusuperior normal">
			<!-- Menu hamburguesa -->
			<div class="controlmenu">
				<div class="icon">
					<button id="iconmenu" type="button" aria-label="toggle menu" class="tcon tcon-menu--xcross">
						<span aria-hidden="true" class="tcon-menu__lines"></span>
						<span class="tcon-visuallyhidden">Menu expandible</span>
					</button>
				</div>
			</div>

			<!-- Centro de la barra superior -->
			<div class="centro">
				<!-- Espacio para futuros logos o assets -->
			</div>

			<!-- Notificaciones y boton de perfil -->
			<div  class="alerts">
				<div class="imgsize">
					<%= link_to new_sale_path, class: "ALETMensajes" do %>
						<%= image_tag("tag.svg") %>
					<% end %>
				</div>
				<% if current_user.role.name == "Administrador" %>
					<div class="imgsize">
						<a class="ALECalendario"href="#"><%= image_tag("backup.svg") %></a>
					</div>
					<li class="nav-item btn-group" data-behavior="notifications">
						<a class="dropdown-toggle nav-link"href="#" type="button" data-behavior="notifications-link" id="DropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
							<%= image_tag("notifications.svg") %>
							<span class="last" data-behavior="unread-count"></span>
						</a>
						<div class="dropdown-menu" aria-labelledby="DropdownMenu1" data-behavior="notifications-items"></div>
					</li>
				<%end%>

				<%= link_to  "Perfil", edit_user_path(current_user), class:'btn ui button' %>
			</div>
		</div>
	</header>

	<%= render "partials/lateral" %>

	<div class="container1 normal">
		<%= yield %>
	</div>

	<%= javascript_tag "transformicons.add('.tcon')" %>

</body>
</html>
