<p id="notice"><%= notice %></p>

<p>
  <strong>Discount:</strong>
  <%= @sale_detail.discount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sale_detail.price %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sale_detail.product %>
</p>

<%= link_to 'Edit', edit_sale_detail_path(@sale_detail) %> |
<%= link_to 'Back', sale_details_path %>
